.my-menu {
    font-size: 16px;
    margin-bottom: 0;
}

ul {
    list-style-type: none !important;
    padding-left: 0 !important;
}

.items-list {
    padding: 0;
}

.items-list li {
    margin-bottom: 2px;
}

h3 {
    margin: 0 !important;
}

h4 {
    font-weight: normal;
}

h5 {
    font-size: 15px;
    font-weight: normal;
    margin: 10px 0 0;
}

.post-content {
    margin: 0;
}

.list-item {
    min-height: 40px;
}

.message-panel {
    margin-bottom: 8px;
}

.message-body {
    padding: 6px 10px;
}

.message-sent {
    background-color: #eee;
}


.messages-date-container {
    padding-top: 5px;
}

.messages-date-container-right-align {
    text-align: right;
}

.messages-date {
    color: #aaa;
    font-size: 14px;
}

.dialog {
    text-align: left;
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

pre {
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
}