.my-menu {
    font-size: 16px;
    margin-bottom: 0;
}

.items-list {
    list-style-type: none;
    padding: 0;
}

.items-list li {
    margin-bottom: 2px;
}

h3 {
    margin: 0 !important;
}

h4 {
    font-weight: normal;
}

h5 {
    font-size: 15px;
    font-weight: normal;
    margin: 10px 0 0;
}

.post-content {
    margin: 0;
}

.list-item {
    min-height: 40px;
}

textarea {
    resize: none;
}

pre {
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
}